div {
  border: 2px solid black;
  background-color: rgba(150, 136, 175);
  margin: 5px;
  padding: 5px;
}

#content {
  border: 6px dotted white;
  background-color: rgba(99, 129, 136);
  margin: auto;
  width: 60%;
  color: rgba(42, 36, 19);
}

.linksBox,
.textBox,
.class,
.powerbox,
.content {
  border-radius: 20px;
}

.textBox img {
  width: 25%;
  float: left;
  clear: left;
}

.textBox {
  overflow: auto;
}

#powerbox {
  background-color: rgba(148, 173, 179);
}

body {
  background-color: white;
  background-image: url("../img/ABC.jpg");
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
