canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;

}

body {
    font-size: 24px;
    color: aliceblue;
}

#content{
    float: right;
    width: 60%;
}

.box{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

h1{
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    #content{
    float: none;
    width: 100%;
}
}






